
@font-face {
  font-family: wickedFont;
  src: url("Fonts/OPTIRubens-Wide.otf");
}

.answer {
  padding: 8px
}

.answer:hover {
  border: 1px solid #f1d8d8;
  cursor: pointer;
}

.app {
  height: 100%;
  font-family: wickedFont;
}

body, html {
  background: #A4C552;
  height: 100%;
}

.background {
  background-image: url("Images/wicked-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#button-begin, #button-play-again {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background-color:#8BBF3B;
  border-radius: 10px;
  display: inline;
  cursor: pointer;
  color:#A50520;
  /* color: #D0394A; */
  font-family: wickedFont;
  font-size: 48px;
  opacity: .95;
  padding: 32px 76px;
  text-decoration:none;
}

#button-begin:active {
  position:relative;
  top:1px;
}

#button-begin.hide {
  display: none;
}

#button-begin.show {
  display: initial;
}

#content {
  align-items: center;  
  background: rgb(15, 15, 15, 0.5);
  border-radius: 10px;
  color: #F2CD55;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  height: 55vh;
  justify-content: space-around;
  line-height: 1.50;
  margin-bottom: 200px;
  overflow: hidden;
  padding: 30px;
  width: 80vw;
  z-index: 0;
}

#content-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#correct-answer {
  border: 5px solid #8BBF3B;
}

#correct-answer:hover {
  border: 5px solid #8BBF3B;
}

#countdown { 
  color: #A4C552
}

h1 {
  color: #A50520;
  font-size: 100px;
  text-align: center;
}

h2 {
  color: #F2CD55;
  font-size: 24px;
  text-align: center;
}

h3 {
  color: #F2CD55;
  font-size: 18px;
  padding-top: 10px;
  text-align: center;
}

.hide {
  display: none;
}

#results {
  align-items: center;  
  background: rgb(15, 15, 15, 0.5);
  border-radius: 10px;
  color: #F2CD55;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  height: 300px;
  justify-content: space-around;
  line-height: 1.50;
  margin-bottom: 200px;
  overflow: hidden;
  padding: 30px;
  width: 700px;
  z-index: 0;
}

.show {
  visibility: visible
}

#question {
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
  
  h2 {
    font-size: 22px;
    text-align: center;
  }
  
  h3 {
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
  }
  
}